<h1>Listing characters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Career</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Alignment</th>
    <th>Str</th>
    <th>Ref</th>
    <th>Int</th>
    <th>Con</th>
    <th>Wil</th>
    <th>Dex</th>
    <th>Ath</th>
    <th>Spd</th>
    <th>Initiative</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= character.career %></td>
    <td><%= character.age %></td>
    <td><%= character.gender %></td>
    <td><%= character.alignment %></td>
    <td><%= character.str %></td>
    <td><%= character.ref %></td>
    <td><%= character.int %></td>
    <td><%= character.con %></td>
    <td><%= character.wil %></td>
    <td><%= character.dex %></td>
    <td><%= character.ath %></td>
    <td><%= character.spd %></td>
    <td><%= character.initiative %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path %>
