<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Career:</b>
  <%= @character.career %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @character.gender %>
</p>

<p>
  <b>Alignment:</b>
  <%= @character.alignment %>
</p>

<p>
  <b>Str:</b>
  <%= @character.str %>
</p>

<p>
  <b>Ref:</b>
  <%= @character.ref %>
</p>

<p>
  <b>Int:</b>
  <%= @character.int %>
</p>

<p>
  <b>Con:</b>
  <%= @character.con %>
</p>

<p>
  <b>Wil:</b>
  <%= @character.wil %>
</p>

<p>
  <b>Dex:</b>
  <%= @character.dex %>
</p>

<p>
  <b>Ath:</b>
  <%= @character.ath %>
</p>

<p>
  <b>Spd:</b>
  <%= @character.spd %>
</p>

<p>
  <b>Initiative:</b>
  <%= @character.initiative %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
